.cats-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}

.cats-item {
  flex-shrink: 0;
  overflow: hidden;
  width: calc(33vw - 20px);
  height: 45vh;
  border: 1px solid red;
  border-radius: 5px;
}
